// COLORS
$primary-color: #AA3939;
$secondary-color: #D46A6A;

$white-color: rgb(255, 243, 222);//#f8eac5;

$dark-grey: #000000;
$light-grey: #d2d2d2;

$dark-blue-text: black; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
